body{
    width: 100%;
    font-family: "Poppins", serif; 
    font-size: small;
}
 
  
  
  *{
      margin: 0;
      padding: 0;
  }
  
  .hero nav{
      background-color: rgb(0, 0, 0);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      /* position: fixed;
      width: 100%;
      top: 0px;
      z-index: 1; */
  }
  

  
  .hero nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 40px;
  }
  
  .hero nav ul li a{
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
  }
  

  
  .hero nav a:hover{
    color: rgba(238, 85, 41, 1);
    transition: 0.5s;
    }

    .hero img{
        width: 200px;
    }




    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        /* flex-wrap: wrap; */ */
        margin: 0 -16px;
      }
      
      .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        
      }
      
      .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
        
      }
      
      .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
      }
      
      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }
      
      .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      
        
        
      }
      
      input[type=text] {
        width: 30%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      label {
        margin-bottom: 10px;
        display: block;
      }
      
      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }
      
      .btn {
        background-color:rgba(238, 85, 41, 1);
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }
      
      .btn:hover {
        background-color: black;
        transition: 0.5s;
      }
      
      span.price {
        float: right;
        color: grey;
      }


      
      
    