{% extends "layout/layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    About
{% load static %}

<!-- ....About....... -->

    <div class="about"><h1>About Us</h1>
    <h3>What is First Touch Football?</h3>

    <p>
        We are a group of soccer fanatics who live, breathe, and sleep
         the game. Some of us are currently playing and some of us have
          stepped away from the game but that doesn’t take away from the
           opportunities and life lessons soccer has taught us over the years.
            The gap we found growing up however is the limited amounts of EXPOSURE 
            that takes place in our sport within Canada. Sports like football, basketball, 
            and hockey are drastically better covered and that needs to change. We will bring 
            about this change through creative events and coverage so we can help bring the well 
        deserved attention of our dedicated, passionate, and skillful young footballers!
    </p>
    </div>

    <div class="about-pic">
        <img src="at1.jpg" alt="">
        <img src="at2.jpg" alt="">
    </div>

{% endblock %}