{% extends "layout/layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    Contact
{% load static %}



    
    <div class="contact-text">
        <h1>Contact Us</h1>
        <p>
          Let's Make Something awesome <br>together
        </p>

    </div>



       <div class="coum-from">
      <div class="con-icon">
        <!-- ......phone........ --> 
        <div class="phone-icon">
            <i class="fa fa-phone"></i>
              <h6>Phone</h>
              <h5> +12505550199.</h5>
            </div>
         <!-- ......whatsapp........ -->
            <div class="whatup-icon">
                <i class="fa fa-whatsapp"></i>
              <h6>Whatsapp</h6>
              <h5> +1 613-957-2991</h5>
            </div>
          </div>
      
        

        <div class="love-icon">
            <div class="email-icon">
              <i class="fa fa-envelope"></i>
              <h6>Email</h6>
              <h5>soccer@gmali.com</h5>
              </div>


              <div class="address-icon">
                <i class="fa fa-heart"></i>
                <h6>Address</h6>
                <h5>canada toronto</h5>
              </div>
        </div>

        <div class="con-from">

          <div class="touch">

            <h1>Get In Touch</h1>
            <p>please feel free to contact us if you have any <br>
              further questions or concems.</p>
            </div>
            
            <div class="touch-text">
              <input type="text" placeholder="Name " id="name-tex">
              <input type="text" placeholder="Email" id="name-tex">
              <input type="text" placeholder="Subject" id="name-tex">
              <input type="text" placeholder="Massage" id="Mass-text">
              <a href="#"><button id="send-but">SEND</button></a>
              
            </div>
        </div>
          
       </div>


       {% endblock %}
