{% extends "layout/layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    Contact
{% load static %}



       <div class="sportsync">
       <div class="sport-text">
        <h1>CREATE YOUR SPORTS <br> PROFILE TODAY</h1>
        <a href=""><button>START NOW</button></a>
       </div>

       </div>

      <div class="loing-in">
        
        <div><img src="koo.jpg" alt=""></div>

        <div class="box-text">
            <h1>
                GET DISCOVERED
                FOR UNIVERSITY & HIGH SCHOOL SPORTS</h1>
    
                <div>
                    <a href=""><button>Sign In</button></a>
                    <a href=""><button>Sign Out</button></a>
                </div>
           </div>

           
      </div>

{% endblock %}