{% extends "layout/layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    Highlight Videos
{% load static %}



<
    <div class="highligh-text">

        <h1>FTF x Sportsync Highlight Videos</h1>
        <p>FTF x Sportsync provides video editing services, 
            which can help players through the college recruitment
             process, national team exposure, semi-pro, 
            professional club exposure, <br>and professional contracts.<br> <br>
            FTF x Sportsync can use clips from any games played (club, academy, 
            combine etc.) to make the video for you.</p>

            <h3>Example</h3>
            <h4>Joshua Gordon Highlight Tape</h4>
        </div>


        <div class="highligh-video">
            <video src="ftf video.mp4" controls poster="pic 2.jpg" class="video-ftf"></video>
         </div>

{% endblock %}
    
