{% extends "layout/layout.html" %}

{% block title %}

{% endblock %}

{% block content %}
    Learn
{% load static %}



    <div class="Learnmore-image">

        <div class="Learnmore-iteme">
            <img src="good14.jpeg" alt="">
        </div>
        <div class="Learnmore-iteme">
            <img src="good13.jpeg" alt="">
        </div>
        <div class="Learnmore-iteme">
            <img src="good12.jpeg" alt="">
        </div>
        <div class="Learnmore-iteme">
            <img src="good11.jpeg" alt="">
        </div>
    
        <div class="Learnmore-iteme">
            <img src="good10.jpeg" alt="">
        </div>
    
       </div>
    
   <div class="Learnmore-text">
    <h1>FTF xVSC Fall Showdown</h1>
   </div>


   <div class="Learnmore-showdown">
    <p>
        The FTF x VSC Fall Showdown is a high-level 
        showcase tournament that took place in Vaughan, Ontario on Friday, 
        October 25th – Sunday, October 27th, 2024 for (BOYS)
        and Friday, November 1st – Sunday, November 3rd, 2024
         for (GIRLS). The Showdown Series will have 5 age groups
         (U19 – 2005/2006), (U17 – 2007), (U16 – 2008), and a
         (U14 & 15 -2009/2010) Tournament. <span>
            The purpose of this showdown is to help young Canadians
             across the country gain exposure and opportunities
             to University and Collegiate programs in Canada and the United States.
         </span>
        </p>


        <p>
                The FTF x VSC Fall Showdown Showcase Tournament will 
                be accepting a limited number of high-quality teams and
                 inviting our contacts from the NCAA, USPORTS, CCAA, NAIA,
                  and JUCO to evaluate the talent in person. For travel purposes, 
                all games will take place in the city of Vaughan, Ontario. 
                The exact location will be provided upon team acceptance.
        
                Each team is guaranteed (3) games as a participant at the 
                event. A ‘Player of the Match’ will be announced after every 
                game has concluded, Standout players will be recognized via
                 an article on the ‘Playbook’ and a ‘Tournament MVP’ will be
                 awarded after the tournament is complete. Lastly,
                 a ‘Tournament Champion’ will be crowned with a team trophy + awards.
        
        </p>

   </div>

   <div class="lean-pic">
    <img src="lear2.jpg" alt="">
    <img src="lear3.jpg" alt="">
   </div>


{% endblock %}