  {% load static %}<!-- -------footer------ -->

     <footer  class="footer">
        <div>
            <h1>Stay Connected With FIF Canada</h1>
            <h4>Subscribe to our newsletter to stay up to date with FIF Canada
             events, updates. and promotion.</h4>

             <div class="foot-link">
                <ul class="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about us .html">About US</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="events.html">Event</a></li>
                    <li><a href="highlight videos.html">Highlight videos</a></li>
                    <li><a href="contact .html">Contact Us</a></li>

                    </ul>
             </div>
             <h6>Power by: Shadrack Osei Boateng</h6>

        </div>

        <div class="inp-text">
            <input id="form" type="text" placeholder="name*">
            <input id="form" type="text" placeholder="Email Address*">
          <div> <a href=""> <input id="form-the" type="text" placeholder="Email Address"></a></div>

        </div>

        </footer>

