{% load static %}



     <!-- ---------page2-------- -->

     <div class="page2">
        <h1>Events</h1>
    </div>

    <!-- -------page3----- -->


    <div class="page3">
      <div>  <img src="pic 2.jpg" alt=""></div>

      <div>
        <h1>FTF x VSC Fall <br> Showdown</h1>
        <p><span>Location:</span>Vaughan Ontario,<br>
            <span>Boys:</span>Fridays, October 25th-Sunday,October,2024,<br>
            <span>Boys:</span>Friday,November 1st-Sunady,November

            <div class="button1">
                <a href="learn more.html"><button>Learn More</button></a>
                <a href="register.html"><button >Register Now</button></a>
            </div>

        </p>
      </div>

      <div> <img id="image2" src="pic 3.jpg" alt=""></div>

    </div>


     <!-- -------page4-------- -->

     <div class="page4">
       <div>
        <h1>Highlight Videos </h1>
        <p>
            FTF Professional Highlight Videos Services are <strong>state of the art. </strong>
            Our highlight videos have helped players achieve Athletic Scholarship, European/North
             American Trials, Canadian National Call-Ups, and Professional Contracts.
             <strong>Athletic Scholarship, European/North
                American Trials, Canadian National Call-Ups, and Professional Contracts.</strong>
        </p>
        <a href="register.html"><button>Register Now</button></a>
       </div>

       <div>
        <img src="aww.png" alt=""></div>

    </div>


     <!-- ---------page5--------- -->
     <div class="page5">
        <div>
            <h1>Media & Marketing</h1>
            <p>
               <span> FTF </span>Professional Highlight Videos Services are <strong>state of the art. </strong>
                Our highlight videos have helped players achieve Athletic Scholarship, European/North
                 American Trials, Canadian National Call-Ups, and Professional Contracts.
                 <strong>Athletic Scholarship, European/North
                    American Trials, Canadian National Call-Ups, and Professional Contracts.</strong>
            </p>
            <a href="register.html"><button >Register Now</button></a>

        </div>

        <div> <img src="aww2.png" alt=""></div>
     </div>



       <!-- --------page6---------- -->

    <div class="page6">
      <div>
        <h1>Game Recording</h1>
        <p>
            FTF offers quick, efficient & affordable game recording, whether you're a club/academy that:,<br>
            <br>&#176 Wants a more in-depth look at your training sessions <br>
            &#176  Record a rival match up <br>
            &#176  Collect film for your players to use <br>   in their highlight videos.
        </p>
        <a href="register.html"><button>Register Now</button></a>
      </div>
         <div><img src="aww3.png" alt=""></div>


    </div>




     <!-- --------page7---------- -->

    <div class="page7">
        <div>
            <h1>News</h1>
            <p>
                <SPan>FTF</SPan> broadcasts daily news content from the Canadian Soccer Community
                 including: university player commitments, professional signings,
                 goals + assists from professional players, breaking news and more!
            </p>

            <div class="page7-icon">


                <ul style="color:  rgba(238, 85, 41, 1);">
                    <li><a href="#">
                        <img width="30" height="30"
                        src="https://img.icons8.com/ios-filled/50/instagram-new--v1.png"
                         alt="instagram-new--v1"/>
                    </a></li>

                        <li><a href="#">
                            <img width="30" height="30"
                            src="https://img.icons8.com/ios-filled/50/facebook-new.png"
                            alt="facebook-new"/>
                        </a></li>

                         <li><a href="#">
                            <img width="30" height="30"
                            src="https://img.icons8.com/ios-filled/50/twitter.png"
                            alt="twitter"/>
                         </a></li>

                         <li><a href="#"><img width="30" height="30"
                            src="https://img.icons8.com/ios-filled/50/youtube-play.png"
                             alt="youtube-play"/></a></li>

                         <li><a href="#">
                            <img width="30" height="30"
                            src="https://img.icons8.com/ios-filled/50/tiktok--v1.png"
                             alt="tiktok--v1"/>
                         </a></li>

                </ul>
            </div>

        </div>

        <div class="home-pic"> <img src="aww 4.png" alt=""></div>

     </div>


      <!-- --------page8---------- -->

     <div class="page8">
        <div><img src="some logo.png" alt=""></div>
       <div> <h3>You Want To Become A Sponsor?</h3></div>
    </div>
